In [29]:
from pyspark.sql import SparkSession
import sqlite3
import pandas as pd
import numpy as np
from pyspark.sql.functions import *
import boto3
import io

In [30]:
"""
Connecting to SQLite database
"""

conn = sqlite3.connect("database.sqlite")
cur = conn.cursor()

In [31]:
"""
Reading tables and storing them into pandas dataframe
"""

ply_attr=pd.read_sql_query("Select * from Player_Attributes",conn)
ply=pd.read_sql_query("Select * from Player",conn)
country=pd.read_sql_query("Select * from Country",conn)
league=pd.read_sql_query("Select * from League",conn)
match=pd.read_sql_query("Select * from Match",conn)
team=pd.read_sql_query("Select * from Team",conn)
team_attr=pd.read_sql_query("Select * from Team_Attributes",conn)

In [32]:
bucket = 'kalange-european-soccer' # already created on S3
csv_buffer = io.StringIO()
ply_attr.to_csv(csv_buffer)
s3_resource = boto3.resource('s3')
s3_resource.Object(bucket, 'ply_attr.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '16C29363C1982E68',
  'HostId': 'yWlrxXGybB9wqk6PtApqmrMnPEqiiIND9Z4uBltiQBW9/ycTvrnqjEOOVIgXGvaoNLnp3Om/yAI=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'yWlrxXGybB9wqk6PtApqmrMnPEqiiIND9Z4uBltiQBW9/ycTvrnqjEOOVIgXGvaoNLnp3Om/yAI=',
   'x-amz-request-id': '16C29363C1982E68',
   'date': 'Sun, 02 Aug 2020 18:06:56 GMT',
   'etag': '"eee40b20cb66f97fd55b683191500596"',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'ETag': '"eee40b20cb66f97fd55b683191500596"'}

In [33]:
csv_buffer = io.StringIO()
ply.to_csv(csv_buffer)
s3_resource.Object(bucket, 'ply.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '1D44A7FB0F6BFCA1',
  'HostId': 'uOrh721jYkzVBvvXt9oc18jW0E+JsdscO+RR1UxaoBIfJGYgIkBaIdbk3NnpGUh2tw17fFcfOPo=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'uOrh721jYkzVBvvXt9oc18jW0E+JsdscO+RR1UxaoBIfJGYgIkBaIdbk3NnpGUh2tw17fFcfOPo=',
   'x-amz-request-id': '1D44A7FB0F6BFCA1',
   'date': 'Sun, 02 Aug 2020 18:09:28 GMT',
   'etag': '"ab54887d8895c67803940ba68a0410ab"',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'ETag': '"ab54887d8895c67803940ba68a0410ab"'}

In [34]:
csv_buffer = io.StringIO()
country.to_csv(csv_buffer)
s3_resource.Object(bucket, 'country.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '05F830E29ADE854B',
  'HostId': 'ICel0MBNpy1a2hwSf3crLLfg3p+WSNkYOkUAMS62YyoZ5cx0vmLc62HgZvBFDhF2onRXbINQl3Y=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'ICel0MBNpy1a2hwSf3crLLfg3p+WSNkYOkUAMS62YyoZ5cx0vmLc62HgZvBFDhF2onRXbINQl3Y=',
   'x-amz-request-id': '05F830E29ADE854B',
   'date': 'Sun, 02 Aug 2020 18:10:03 GMT',
   'etag': '"464eda658146fea44210dcf0cbf14759"',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'ETag': '"464eda658146fea44210dcf0cbf14759"'}

In [35]:
csv_buffer = io.StringIO()
league.to_csv(csv_buffer)
s3_resource.Object(bucket, 'league.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '1C4FBFB5E197F4B4',
  'HostId': 'NmlJ8bMsYPu54bS9Q/5GxSDGoYFFFqgywL01GOE5lP5zqXRTWVQl1+iBJ9X+OtSldMo5qquYs9s=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'NmlJ8bMsYPu54bS9Q/5GxSDGoYFFFqgywL01GOE5lP5zqXRTWVQl1+iBJ9X+OtSldMo5qquYs9s=',
   'x-amz-request-id': '1C4FBFB5E197F4B4',
   'date': 'Sun, 02 Aug 2020 18:10:13 GMT',
   'etag': '"95c590568592aaf18fcfdc24a405b31c"',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'ETag': '"95c590568592aaf18fcfdc24a405b31c"'}

In [36]:
csv_buffer = io.StringIO()
team.to_csv(csv_buffer)
s3_resource.Object(bucket, 'team.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '975F3E7D193A00D8',
  'HostId': 'Vjpg2H23Jc7/pJuTqPZ/B4JUotdD6rscKJc1iIDk/IC76wxr70WX/7eoS+Gc9bvDkdZ7XsPk7e8=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'Vjpg2H23Jc7/pJuTqPZ/B4JUotdD6rscKJc1iIDk/IC76wxr70WX/7eoS+Gc9bvDkdZ7XsPk7e8=',
   'x-amz-request-id': '975F3E7D193A00D8',
   'date': 'Sun, 02 Aug 2020 18:10:21 GMT',
   'etag': '"9d8ff55d197eca78457318b8f5948327"',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'ETag': '"9d8ff55d197eca78457318b8f5948327"'}

In [37]:
csv_buffer = io.StringIO()
team_attr.to_csv(csv_buffer)
s3_resource.Object(bucket, 'team_attr.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '73568CDF472AA8FF',
  'HostId': '5Tl+8tWT+CBG6lIyN+RjtCuGqUQmPSSTpF7Gh4SGBI1VI6Hlz92BxXbhe8lNt9ZMVLxQJOZDmsA=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': '5Tl+8tWT+CBG6lIyN+RjtCuGqUQmPSSTpF7Gh4SGBI1VI6Hlz92BxXbhe8lNt9ZMVLxQJOZDmsA=',
   'x-amz-request-id': '73568CDF472AA8FF',
   'date': 'Sun, 02 Aug 2020 18:10:26 GMT',
   'etag': '"67f9b4b2ffa44fc3b8b1dca65a28ff6c"',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'ETag': '"67f9b4b2ffa44fc3b8b1dca65a28ff6c"'}

In [38]:
csv_buffer = io.StringIO()
match.to_csv(csv_buffer)
s3_resource.Object(bucket, 'match.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '8EEC2CE0A73FA5C3',
  'HostId': 'MQgssyNMKuGTtZ6AWy23htTMO/8dru8BkREOoqmhXf/2vuaFaTwcAGhESub042YW7g256PikaOw=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'MQgssyNMKuGTtZ6AWy23htTMO/8dru8BkREOoqmhXf/2vuaFaTwcAGhESub042YW7g256PikaOw=',
   'x-amz-request-id': '8EEC2CE0A73FA5C3',
   'date': 'Sun, 02 Aug 2020 19:26:29 GMT',
   'etag': '"e914f44cad1c408b3dfd8163b43350df"',
   'content-length': '0',
   'server': 'AmazonS3',
   'connection': 'close'},
  'RetryAttempts': 0},
 'ETag': '"e914f44cad1c408b3dfd8163b43350df"'}

In [4]:
 match.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,...,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,...,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,...,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,...,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67

In [5]:
spark = SparkSession \
    .builder \
    .appName("Soccernew") \
    .getOrCreate()

In [6]:
plyr_attr=spark.createDataFrame(ply_attr)
plyr=spark.createDataFrame(ply)
coun=spark.createDataFrame(country)
leag=spark.createDataFrame(league)
mat=spark.createDataFrame(match)
teams=spark.createDataFrame(team)
team_attrs=spark.createDataFrame(team_attr)

In [8]:
mat.printSchema()

root
 |-- id: long (nullable = true)
 |-- country_id: long (nullable = true)
 |-- league_id: long (nullable = true)
 |-- season: string (nullable = true)
 |-- stage: long (nullable = true)
 |-- date: string (nullable = true)
 |-- match_api_id: long (nullable = true)
 |-- home_team_api_id: long (nullable = true)
 |-- away_team_api_id: long (nullable = true)
 |-- home_team_goal: long (nullable = true)
 |-- away_team_goal: long (nullable = true)
 |-- home_player_X1: double (nullable = true)
 |-- home_player_X2: double (nullable = true)
 |-- home_player_X3: double (nullable = true)
 |-- home_player_X4: double (nullable = true)
 |-- home_player_X5: double (nullable = true)
 |-- home_player_X6: double (nullable = true)
 |-- home_player_X7: double (nullable = true)
 |-- home_player_X8: double (nullable = true)
 |-- home_player_X9: double (nullable = true)
 |-- home_player_X10: double (nullable = true)
 |-- home_player_X11: double (nullable = true)
 |-- away_player_X1: double (nullable = true)
 |-- away_player_X2: double (nullable = true)
 |-- away_player_X3: double (nullable = true)
 |-- away_player_X4: double (nullable = true)
 |-- away_player_X5: double (nullable = true)
 |-- away_player_X6: double (nullable = true)
 |-- away_player_X7: double (nullable = true)
 |-- away_player_X8: double (nullable = true)
 |-- away_player_X9: double (nullable = true)
 |-- away_player_X10: double (nullable = true)
 |-- away_player_X11: double (nullable = true)
 |-- home_player_Y1: double (nullable = true)
 |-- home_player_Y2: double (nullable = true)
 |-- home_player_Y3: double (nullable = true)
 |-- home_player_Y4: double (nullable = true)
 |-- home_player_Y5: double (nullable = true)
 |-- home_player_Y6: double (nullable = true)
 |-- home_player_Y7: double (nullable = true)
 |-- home_player_Y8: double (nullable = true)
 |-- home_player_Y9: double (nullable = true)
 |-- home_player_Y10: double (nullable = true)
 |-- home_player_Y11: double (nullable = true)
 |-- away_player_Y1: double (nullable = true)
 |-- away_player_Y2: double (nullable = true)
 |-- away_player_Y3: double (nullable = true)
 |-- away_player_Y4: double (nullable = true)
 |-- away_player_Y5: double (nullable = true)
 |-- away_player_Y6: double (nullable = true)
 |-- away_player_Y7: double (nullable = true)
 |-- away_player_Y8: double (nullable = true)
 |-- away_player_Y9: double (nullable = true)
 |-- away_player_Y10: double (nullable = true)
 |-- away_player_Y11: double (nullable = true)
 |-- home_player_1: double (nullable = true)
 |-- home_player_2: double (nullable = true)
 |-- home_player_3: double (nullable = true)
 |-- home_player_4: double (nullable = true)
 |-- home_player_5: double (nullable = true)
 |-- home_player_6: double (nullable = true)
 |-- home_player_7: double (nullable = true)
 |-- home_player_8: double (nullable = true)
 |-- home_player_9: double (nullable = true)
 |-- home_player_10: double (nullable = true)
 |-- home_player_11: double (nullable = true)
 |-- away_player_1: double (nullable = true)
 |-- away_player_2: double (nullable = true)
 |-- away_player_3: double (nullable = true)
 |-- away_player_4: double (nullable = true)
 |-- away_player_5: double (nullable = true)
 |-- away_player_6: double (nullable = true)
 |-- away_player_7: double (nullable = true)
 |-- away_player_8: double (nullable = true)
 |-- away_player_9: double (nullable = true)
 |-- away_player_10: double (nullable = true)
 |-- away_player_11: double (nullable = true)
 |-- goal: string (nullable = true)
 |-- shoton: string (nullable = true)
 |-- shotoff: string (nullable = true)
 |-- foulcommit: string (nullable = true)
 |-- card: string (nullable = true)
 |-- cross: string (nullable = true)
 |-- corner: string (nullable = true)
 |-- possession: string (nullable = true)
 |-- B365H: double (nullable = true)
 |-- B365D: double (nullable = true)
 |-- B365A: double (nullable = true)
 |-- BWH: double (nullable = true)
 |-- BWD: double (nullable = true)
 |-- BWA: double (nullable = true)
 |-- IWH: double (nullable = true)
 |-- IWD: double (nullable = true)
 |-- IWA: double (nullable = true)
 |-- LBH: double (nullable = true)
 |-- LBD: double (nullable = true)
 |-- LBA: double (nullable = true)
 |-- PSH: double (nullable = true)
 |-- PSD: double (nullable = true)
 |-- PSA: double (nullable = true)
 |-- WHH: double (nullable = true)
 |-- WHD: double (nullable = true)
 |-- WHA: double (nullable = true)
 |-- SJH: double (nullable = true)
 |-- SJD: double (nullable = true)
 |-- SJA: double (nullable = true)
 |-- VCH: double (nullable = true)
 |-- VCD: double (nullable = true)
 |-- VCA: double (nullable = true)
 |-- GBH: double (nullable = true)
 |-- GBD: double (nullable = true)
 |-- GBA: double (nullable = true)
 |-- BSH: double (nullable = true)
 |-- BSD: double (nullable = true)
 |-- BSA: double (nullable = true)

In [6]:
xply=plyr_attr.select(plyr_attr.columns[:6])
yply=plyr_attr.select(['id','stamina','strength'])

xply=xply.alias('xply')
yply=yply.alias('yply')

df_plyr=xply.join(yply,xply.id==yply.id).select("xply.id","player_fifa_api_id","player_api_id","date","overall_rating", \
                                               "potential","stamina","strength")

# Checking dataframes for Null Values

In [7]:
"""
checking nan values in the player attributes table
"""

df_plyr.select([count(when(isnan(c), c)).alias(c) for c in df_plyr.columns]).show()

+---+------------------+-------------+----+--------------+---------+-------+--------+
| id|player_fifa_api_id|player_api_id|date|overall_rating|potential|stamina|strength|
+---+------------------+-------------+----+--------------+---------+-------+--------+
|  0|                 0|            0|   0|           836|      836|    836|     836|
+---+------------------+-------------+----+--------------+---------+-------+--------+

In [8]:
plyr.select([count(when(isnan(c), c)).alias(c) for c in plyr.columns]).show()

+---+-------------+-----------+------------------+--------+------+------+
| id|player_api_id|player_name|player_fifa_api_id|birthday|height|weight|
+---+-------------+-----------+------------------+--------+------+------+
|  0|            0|          0|                 0|       0|     0|     0|
+---+-------------+-----------+------------------+--------+------+------+

In [12]:
coun.select([count(when(isnan(c), c)).alias(c) for c in coun.columns]).show()

+---+----+
| id|name|
+---+----+
|  0|   0|
+---+----+

In [8]:
mat=mat.select(['id','country_id','league_id','season','stage','date','match_api_id','home_team_api_id','away_team_api_id',\
                'home_team_goal','away_team_goal'])

In [9]:
mat.printSchema()

root
 |-- id: long (nullable = true)
 |-- country_id: long (nullable = true)
 |-- league_id: long (nullable = true)
 |-- season: string (nullable = true)
 |-- stage: long (nullable = true)
 |-- date: string (nullable = true)
 |-- match_api_id: long (nullable = true)
 |-- home_team_api_id: long (nullable = true)
 |-- away_team_api_id: long (nullable = true)
 |-- home_team_goal: long (nullable = true)
 |-- away_team_goal: long (nullable = true)

In [10]:
mat.show(n=2)

+---+----------+---------+---------+-----+-------------------+------------+----------------+----------------+--------------+--------------+
| id|country_id|league_id|   season|stage|               date|match_api_id|home_team_api_id|away_team_api_id|home_team_goal|away_team_goal|
+---+----------+---------+---------+-----+-------------------+------------+----------------+----------------+--------------+--------------+
|  1|         1|        1|2008/2009|    1|2008-08-17 00:00:00|      492473|            9987|            9993|             1|             1|
|  2|         1|        1|2008/2009|    1|2008-08-16 00:00:00|      492474|           10000|            9994|             0|             0|
+---+----------+---------+---------+-----+-------------------+------------+----------------+----------------+--------------+--------------+
only showing top 2 rows

In [ ]:
mat.select([count(when(isnan(c), c)).alias(c) for c in mat.columns]).show(n=1)