In [39]:
from pyspark.sql import SparkSession
import sqlite3
import pandas as pd
import numpy as np
from pyspark.sql.functions import *
#import boto3
import io
from pyspark import SparkContext
import pyspark.sql.functions as F
from pyspark.sql.types import *

In [6]:
"""
Connecting to SQLite database
"""

conn = sqlite3.connect("database.sqlite")
cur = conn.cursor()

In [7]:
"""
Reading tables and storing them into pandas dataframe
"""

ply_attr=pd.read_sql_query("Select * from Player_Attributes",conn)
ply=pd.read_sql_query("Select * from Player",conn)
country=pd.read_sql_query("Select * from Country",conn)
league=pd.read_sql_query("Select * from League",conn)
match=pd.read_sql_query("Select * from Match",conn)
team=pd.read_sql_query("Select * from Team",conn)
team_attr=pd.read_sql_query("Select * from Team_Attributes",conn)

In [37]:
match['away_team_goal'].unique()

array([1, 0, 3, 2, 4, 5, 6, 7, 9, 8], dtype=int64)

In [37]:
#match.isnull().values.sum()

407395

In [32]:
bucket = 'kalange-european-soccer' # already created on S3
csv_buffer = io.StringIO()
ply_attr.to_csv(csv_buffer)
s3_resource = boto3.resource('s3')
s3_resource.Object(bucket, 'ply_attr.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '16C29363C1982E68',
  'HostId': 'yWlrxXGybB9wqk6PtApqmrMnPEqiiIND9Z4uBltiQBW9/ycTvrnqjEOOVIgXGvaoNLnp3Om/yAI=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'yWlrxXGybB9wqk6PtApqmrMnPEqiiIND9Z4uBltiQBW9/ycTvrnqjEOOVIgXGvaoNLnp3Om/yAI=',
   'x-amz-request-id': '16C29363C1982E68',
   'date': 'Sun, 02 Aug 2020 18:06:56 GMT',
   'etag': '"eee40b20cb66f97fd55b683191500596"',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'ETag': '"eee40b20cb66f97fd55b683191500596"'}

In [33]:
csv_buffer = io.StringIO()
ply.to_csv(csv_buffer)
s3_resource.Object(bucket, 'ply.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '1D44A7FB0F6BFCA1',
  'HostId': 'uOrh721jYkzVBvvXt9oc18jW0E+JsdscO+RR1UxaoBIfJGYgIkBaIdbk3NnpGUh2tw17fFcfOPo=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'uOrh721jYkzVBvvXt9oc18jW0E+JsdscO+RR1UxaoBIfJGYgIkBaIdbk3NnpGUh2tw17fFcfOPo=',
   'x-amz-request-id': '1D44A7FB0F6BFCA1',
   'date': 'Sun, 02 Aug 2020 18:09:28 GMT',
   'etag': '"ab54887d8895c67803940ba68a0410ab"',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'ETag': '"ab54887d8895c67803940ba68a0410ab"'}

In [34]:
csv_buffer = io.StringIO()
country.to_csv(csv_buffer)
s3_resource.Object(bucket, 'country.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '05F830E29ADE854B',
  'HostId': 'ICel0MBNpy1a2hwSf3crLLfg3p+WSNkYOkUAMS62YyoZ5cx0vmLc62HgZvBFDhF2onRXbINQl3Y=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'ICel0MBNpy1a2hwSf3crLLfg3p+WSNkYOkUAMS62YyoZ5cx0vmLc62HgZvBFDhF2onRXbINQl3Y=',
   'x-amz-request-id': '05F830E29ADE854B',
   'date': 'Sun, 02 Aug 2020 18:10:03 GMT',
   'etag': '"464eda658146fea44210dcf0cbf14759"',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'ETag': '"464eda658146fea44210dcf0cbf14759"'}

In [35]:
csv_buffer = io.StringIO()
league.to_csv(csv_buffer)
s3_resource.Object(bucket, 'league.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '1C4FBFB5E197F4B4',
  'HostId': 'NmlJ8bMsYPu54bS9Q/5GxSDGoYFFFqgywL01GOE5lP5zqXRTWVQl1+iBJ9X+OtSldMo5qquYs9s=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'NmlJ8bMsYPu54bS9Q/5GxSDGoYFFFqgywL01GOE5lP5zqXRTWVQl1+iBJ9X+OtSldMo5qquYs9s=',
   'x-amz-request-id': '1C4FBFB5E197F4B4',
   'date': 'Sun, 02 Aug 2020 18:10:13 GMT',
   'etag': '"95c590568592aaf18fcfdc24a405b31c"',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'ETag': '"95c590568592aaf18fcfdc24a405b31c"'}

In [36]:
csv_buffer = io.StringIO()
team.to_csv(csv_buffer)
s3_resource.Object(bucket, 'team.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '975F3E7D193A00D8',
  'HostId': 'Vjpg2H23Jc7/pJuTqPZ/B4JUotdD6rscKJc1iIDk/IC76wxr70WX/7eoS+Gc9bvDkdZ7XsPk7e8=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'Vjpg2H23Jc7/pJuTqPZ/B4JUotdD6rscKJc1iIDk/IC76wxr70WX/7eoS+Gc9bvDkdZ7XsPk7e8=',
   'x-amz-request-id': '975F3E7D193A00D8',
   'date': 'Sun, 02 Aug 2020 18:10:21 GMT',
   'etag': '"9d8ff55d197eca78457318b8f5948327"',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'ETag': '"9d8ff55d197eca78457318b8f5948327"'}

In [37]:
csv_buffer = io.StringIO()
team_attr.to_csv(csv_buffer)
s3_resource.Object(bucket, 'team_attr.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '73568CDF472AA8FF',
  'HostId': '5Tl+8tWT+CBG6lIyN+RjtCuGqUQmPSSTpF7Gh4SGBI1VI6Hlz92BxXbhe8lNt9ZMVLxQJOZDmsA=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': '5Tl+8tWT+CBG6lIyN+RjtCuGqUQmPSSTpF7Gh4SGBI1VI6Hlz92BxXbhe8lNt9ZMVLxQJOZDmsA=',
   'x-amz-request-id': '73568CDF472AA8FF',
   'date': 'Sun, 02 Aug 2020 18:10:26 GMT',
   'etag': '"67f9b4b2ffa44fc3b8b1dca65a28ff6c"',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'ETag': '"67f9b4b2ffa44fc3b8b1dca65a28ff6c"'}

In [38]:
csv_buffer = io.StringIO()
match.to_csv(csv_buffer)
s3_resource.Object(bucket, 'match.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '8EEC2CE0A73FA5C3',
  'HostId': 'MQgssyNMKuGTtZ6AWy23htTMO/8dru8BkREOoqmhXf/2vuaFaTwcAGhESub042YW7g256PikaOw=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'MQgssyNMKuGTtZ6AWy23htTMO/8dru8BkREOoqmhXf/2vuaFaTwcAGhESub042YW7g256PikaOw=',
   'x-amz-request-id': '8EEC2CE0A73FA5C3',
   'date': 'Sun, 02 Aug 2020 19:26:29 GMT',
   'etag': '"e914f44cad1c408b3dfd8163b43350df"',
   'content-length': '0',
   'server': 'AmazonS3',
   'connection': 'close'},
  'RetryAttempts': 0},
 'ETag': '"e914f44cad1c408b3dfd8163b43350df"'}

In [4]:
 match.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,...,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,...,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,...,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,...,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67

In [3]:
spark = SparkSession \
    .builder \
    .appName("Soccer1") \
    .getOrCreate()

In [5]:
spark

In [8]:
plyr_attr=spark.createDataFrame(ply_attr)
plyr=spark.createDataFrame(ply)

leag=spark.createDataFrame(league)
mat=spark.createDataFrame(match)
teams=spark.createDataFrame(team)
team_attrs=spark.createDataFrame(team_attr)

In [9]:
coun=spark.createDataFrame(country)

In [43]:
league=spark.createDataFrame(league)

In [4]:
plyr_attr.printSchema()

NameError: name 'plyr_attr' is not defined

In [10]:
xply=plyr_attr.select(plyr_attr.columns[:6])
yply=plyr_attr.select(['id','stamina','strength'])

xply=xply.alias('xply')
yply=yply.alias('yply')

df_plyr=xply.join(yply,xply.id==yply.id).select("xply.id","player_fifa_api_id","player_api_id","date","overall_rating", \
                                               "potential","stamina","strength")

# Checking dataframes for Null Values

In [7]:
"""
checking nan values in the player attributes table
"""

df_plyr.select([count(when(isnan(c), c)).alias(c) for c in df_plyr.columns]).show()

+---+------------------+-------------+----+--------------+---------+-------+--------+
| id|player_fifa_api_id|player_api_id|date|overall_rating|potential|stamina|strength|
+---+------------------+-------------+----+--------------+---------+-------+--------+
|  0|                 0|            0|   0|           836|      836|    836|     836|
+---+------------------+-------------+----+--------------+---------+-------+--------+

In [8]:
plyr.select([count(when(isnan(c), c)).alias(c) for c in plyr.columns]).show()

+---+-------------+-----------+------------------+--------+------+------+
| id|player_api_id|player_name|player_fifa_api_id|birthday|height|weight|
+---+-------------+-----------+------------------+--------+------+------+
|  0|            0|          0|                 0|       0|     0|     0|
+---+-------------+-----------+------------------+--------+------+------+

In [12]:
coun.select([count(when(isnan(c), c)).alias(c) for c in coun.columns]).show()

+---+----+
| id|name|
+---+----+
|  0|   0|
+---+----+

In [11]:
mat=mat.select(['id','country_id','league_id','season','stage','date','match_api_id','home_team_api_id','away_team_api_id',\
                'home_team_goal','away_team_goal'])

In [12]:
"""
Dropping NaN values for the player attributes
"""


playr=df_plyr.na.drop(subset=["overall_rating"])

In [76]:
playr.select([count(when(isnan(c), c)).alias(c) for c in x.columns]).show()

+---+------------------+-------------+----+--------------+---------+-------+--------+
| id|player_fifa_api_id|player_api_id|date|overall_rating|potential|stamina|strength|
+---+------------------+-------------+----+--------------+---------+-------+--------+
|  0|                 0|            0|   0|             0|        0|      0|       0|
+---+------------------+-------------+----+--------------+---------+-------+--------+

## Designing - Dimensional Model

### Time Dimension

In [13]:
time = mat.select(  
                    date_format(col('date'),"yyyy-MM-dd").alias('date'),
                    dayofmonth('date').alias('day'),
                    weekofyear('date').alias('week'),
                    month('date').alias('month'),
                    year('date').alias('year'),
                    date_format('date','E').alias('weekday')).dropDuplicates()

In [12]:
time.printSchema()

root
 |-- date: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- week: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- weekday: string (nullable = true)

In [14]:
matches=mat.withColumn("match_date",date_format(col('date'),"yyyy-MM-dd").cast("date"))

In [15]:
time=time.withColumn("date",col('date').cast("date"))

In [16]:
coun=coun.withColumnRenamed("id","country_id")

In [35]:
teams.printSchema()

root
 |-- team_id: long (nullable = true)
 |-- team_api_id: long (nullable = true)
 |-- team_fifa_api_id: double (nullable = true)
 |-- team_name: string (nullable = true)
 |-- team_short_name: string (nullable = true)

In [17]:
teams=teams.withColumnRenamed("id","team_id")
teams=teams.withColumnRenamed("team_long_name","team_name")

In [18]:
teams=teams.select("team_id","team_name","team_short_name")

In [19]:
time=time.withColumn('time_id',monotonically_increasing_id())

In [20]:
matches=matches.withColumn('Total_Goals',col("home_team_goal")+col("away_team_goal"))

In [23]:
matches=matches.withColumnRenamed("home_team_api_id","home_team")
matches=matches.withColumnRenamed("away_team_api_id","away_team")
matches=matches.withColumnRenamed("home_team_goal","home_goal")
matches=matches.withColumnRenamed("away_team_goal","away_goal")

## Developing PySpark User Defined Functions (UDFs)

In [50]:
def winning(home_t,away_t,home_g,away_g):
    if home_g>away_g:
        return home_t
    if away_g>home_g:
        return away_t
    else :
        return "draw"

In [51]:
udf_win = F.udf(winning,StringType())

In [56]:
matches=matches.withColumn("Win_team",udf_win("home_team","away_team","home_goal","away_goal"))

In [57]:
time.createOrReplaceTempView("Time")
coun.createOrReplaceTempView("Country")
teams.createOrReplaceTempView("Team")
matches.createOrReplaceTempView("Match")

In [44]:
league.createOrReplaceTempView("League")

In [61]:
time.printSchema()

root
 |-- date: date (nullable = true)
 |-- day: integer (nullable = true)
 |-- week: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- weekday: string (nullable = true)
 |-- time_id: long (nullable = false)

In [47]:
coun.printSchema()

root
 |-- country_id: long (nullable = true)
 |-- name: string (nullable = true)

In [1]:
teams.printSchema()

NameError: name 'teams' is not defined

In [35]:
Fact_Goals = spark.sql("""
Select ti.time_id as timeid,
       ti.day,
       ti.week,
       ti.month,
       ti.year,
       ti.weekday,
       c.name as country_name,
       round(avg(m.Total_Goals),2) as avg_goals
from Match m 
join Time ti
on m.match_date=ti.date
join Country c
on m.country_id=c.country_id
group by country_name,timeid,day,week,month,year,weekday,country_name
order by time_id  
""")

In [55]:
matches.printSchema()

root
 |-- id: long (nullable = true)
 |-- country_id: long (nullable = true)
 |-- league_id: long (nullable = true)
 |-- season: string (nullable = true)
 |-- stage: long (nullable = true)
 |-- date: string (nullable = true)
 |-- match_api_id: long (nullable = true)
 |-- home_team: long (nullable = true)
 |-- away_team: long (nullable = true)
 |-- home_goal: long (nullable = true)
 |-- away_goal: long (nullable = true)
 |-- match_date: date (nullable = true)
 |-- Total_Goals: long (nullable = true)

In [58]:
Fact_wins = spark.sql("""
Select m.stage,
       m.league_id,
       l.name as league_name,
       t.team_name as Team ,
       count(Win_team) as Num_wins
from Match m
join team t
on m.Win_team=t.team_id
join league l
on l.country_id=m.country_id
where m.Win_team not like 'draw'
group by m.stage,m.league_id,l.name,Team
order by stage
""")